* {
    font-family: 'Akshar', sans-serif;
    margin:0;

}

p {
    opacity:1;
}





.git {
    display: flex;
    
    /* align-items: horizontal; */
    
}

.web {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #808080;
    width: 30px;
    
}
.img {
    display: flex;
    width: 30px;
    align-items: horizontal;
    padding: 0px;
  }
  .page {
      float: right;
      padding: 10px;
      overflow: auto;
      width: 60vw;
    /* height: 48vh; */
    align-self: right;
  }
  .image {

      display: flex;
      align-items: horizontal;
      background: #808080;

  }
  /* .page {

  } */
.about {
    display: flex;
    float: center;
    font-size: 15pt;
    font-family: 'Akshar', sans-serif;
    justify-content: center;

}
.aboutP {

    font-size: 60pt;
    font-family: 'Akshar', sans-serif;
    margin-top: 35vh;

}
.name {
    margin-left: 520px;
    font-size: 30pt;
    width: 300px;
    font-family: 'Akshar', sans-serif;
    opacity: 0.8;
}

.aboutText {
    font-size: 30pt;
    font-family: 'Akshar', sans-serif;
}

.links {
    border-radius: 4px;
/* background: #808080; */
padding: 10px 22px;
color: #000000;
outline: none;
border: none;
cursor: pointer;
transition: all 0.2s ease-in-out;
text-decoration: none;
font-size: 20px;
float: left;

/* Second Nav */
/* margin-left: 24px; */


}

.links:hover {
	transition: all 0.2s ease-in-out;
    color: #808080;

	/* color: #808080; */
}

.front {
    font-size: 20px;
    /* display: flex; */
    flex-direction:column;
    margin-top: 0vh;
    /* left: 50%; */
    width: 0.2rem calc((60vw - 1000px) / 2);
    height: 40vh;
    /* opacity: 0.8; */
    align-items: right;
    text-align: right;
    background: #ffd6ba;
    overflow:auto;
    padding: 10px;


}

.container {
display: flex;
justify-content: space-around;
align-items: stretch;
/* height:100vh;
width:100vw; */


}
.chron {
    display: flex;
    justify-content: center;
    
}

.vertLine {
   
      border-left: 6px solid #555b6e;
    height: 100%; /* full height of parent container */
      
}


.leftPointer { 
    /* display: flex;
    flex-direction: column; 
    position: relative;
    left: 13vw; */
  display:flex;
    flex-direction: column; 
    position: relative;
    left: 5vw;
    top: 10em;
   
}

.rightPointer { 
    /* display:flex;
    flex-direction: column; 
    position: relative;
    right: 12vw;
    top: 10em; */
        display: flex;
    flex-direction: column; 
    position: relative;
    right: 5vw;

    
    
    

}
.leftItem {
    padding: 10px;
    width: 30vw;
    /* height:20vh; */
    border-radius: 10px;
    background-color:#ffd6ba;
    opacity:0.8;
    margin-bottom: 15vh;
    overflow: auto;
}

.head{
padding: 0%;
position: relative;
top:0em;
margin: 0em;
}
.portTitles{
    padding: 0%;
    position: relative;
    top:0em;
    margin: 0em;
 }
.description {
    margin: 0em;
    overflow: none;
}

.github {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    height:2em;
}

.end {
    display: flex;
    align-items: center;
    flex-direction: column;

}
.formBack {
    padding: 30px;
    display: flex;
    align-self: center;
    align-items: center;
    right: 50%;
    flex-direction: column;
    background-color: #555b6e;
    opacity: 0.5;
    border-radius: 10px;
    width: 500px;
    justify-content: center;
}

.textBox {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 300px;
    height: 30px;
    margin: 1em;
    border-color:#ffd6ba;;
    border-width: 5px;

}

.textArea {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 300px;
    height: 100px;
    margin: 1em;
    border-color:#ffd6ba;
    border-width: 5px;

}
.message {
    display: flex;
    align-items: center;
    float: center;
    width: 100px;
    height: 50px;
    margin: 1em;
    border-color:#ffd6ba;
    border-width: 5px;

}

.aboutPage {
    display: flex;
    float: center;
    font-family: 'Akshar', sans-serif;
    flex-direction: column;
    align-items: center;
}
.drop {
    display: flex;
    
}

.dropContainer {

    padding: 0%;
    margin: 0px;

}

.Altlinks {
    border-radius: 0px;
/* background: #808080; */
padding: 0px;
color: #000000;
outline: none;
border: none;
cursor: pointer;
transition: all 0.2s ease-in-out;
text-decoration: none;
font-size: 20px;
float: left;

}

.listLink {
    margin: 0;
    padding: 2px;
    padding-bottom: 5px;
}

.frontL {
    font-size: 20px;
    /* display: flex; */
    flex-direction:column;
    margin-top: 0vh;
    /* left: 50%; */
    padding:10px;
    width: 0.2rem calc((60vw - 1000px) / 2);
    height: 40vh;
    /* opacity: 0.8; */
    align-items: left;
    text-align: left;
    background: #07393C;
    
    color: #F0EDEE;
   

}

.pageL {
    float: left;
    
    overflow: auto;
    width: 60vw;
  /* height: 48vh; */
  align-self: left;
  color: #F0EDEE;

}

.ro {
    margin-top: 0em;
    display: flex;
    flex-direction: column;

}

.proj {
    
    display: flex;
    float: center;
    flex-direction: column;

    padding:10px;
    overflow: auto;

    
}

.desc {
    padding: 0%;
    top:0em;
    margin: 0em;
    width:20vw;
    }

    .test {
        display: flex;
        flex-direction: row;
    }

    .outer {

        background: #ADD8E6;
        color:#000000;
        width: 60vw;
        padding:0px;
        display: flex;
        font-size: 15px;
        flex-direction: row;
        opacity: 0.8;
        border-radius: 10px;
        margin-bottom: 10px;
    }

    .green {
        font-size: 20px;
        /* display: flex; */
        flex-direction:column;
        margin-top: 0vh;
        /* left: 50%; */
        padding:10px;
        width: 0.2rem calc((60vw - 1000px) / 2);
       
        /* opacity: 0.8; */
        align-items: left;
        text-align: left;
        background: #07393C;
        
        color: #F0EDEE;
        
    
    }

    .img1 {
        display: flex;
        /* width: 20vw; */
        height:30vh;
        align-items: horizontal;
        padding: 0px;
        padding: 1em;
        
      }

      .desc2 {
        padding: 0%;
        top:0em;
        margin: 0em;
        width:20vw;
        height:100%;
        }

        .rop {
            margin-top: 0em;
            display: flex;
            flex-direction: row;
            align-items: center-top;
        float:right;
       
        align-self:center;
           
        
        }

        .proj2 {
    
            display: flex;
            float: center;
            flex-direction: column;
            background: #ADD8E6;
            overflow: auto;
            height: 50vh;
            opacity: 0.8;
            border-radius: 10px;
            padding:10px;
            width:27vw;
            height:38vh;
            text-align:center;
            margin-right:10px;
            margin-left:10px;
            font-size:15px;
            
        
            
        }

        .desc3 {
            padding: 0%;
            top:0em;
            margin: 0em;
            font-size:15px;
            
            }

            .front1 {
                font-size: 20px;
                /* display: flex; */
                flex-direction:column;
                margin-top: 0vh;
                /* left: 50%; */
                width: 0.2rem calc((60vw - 1000px) / 2);
                /* height: 40vh; */
                /* opacity: 0.8; */
                align-items: center;
                /* text-align: right; */
                background: #ffd6ba;
                overflow:auto;
                padding: 10px;
            
            
            }

            @media only screen and (max-width: 600px) {

                .leftPointer { 
                    display: flex;
                    flex-direction: column; 
                    position: relative;
                    left: 1vw;
                
                   
                }
                
                .rightPointer { 
                    display:flex;
                    flex-direction: column; 
                    position: relative;
                    right: 1vw;
                    top: 10em;
                    
                    
                
                }

                .leftItem {
                    padding: 10px;
                    width: 36vw;
                    height:20vh;
                    border-radius: 10px;
                    background-color:#ffd6ba;
                    opacity:0.8;
                    margin-bottom: 15vh;
                    overflow: auto;
                }

                .portTitles{
                    padding: 0%;
                    position: relative;
                    top:0em;
                    margin: 0em;
                    font-size: 1.5em;
                 }

                 .mobileLinePort {
                    margin-top: 15px;
                    margin-bottom: 15px;
                    border-bottom: 3px solid #090a0a;
                    width: 100%;
                    top: 0;
                 }
            }
