* {
    font-family: 'Akshar', sans-serif;

}

p {
    opacity:1;
}





.git {
    display: flex;
    
    /* align-items: horizontal; */
    
}

.web {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #808080;
    width: 30px;
    
}
.img {
    display: flex;
    width: 30px;
    align-items: horizontal;
    padding: 0px;
  }
  .page {
      float: right;
      padding: 10px;
      overflow: auto;
      width: 60vw;
    /* height: 48vh; */
    align-self: right;
  }
  .image {

      display: flex;
      align-items: horizontal;
      background: #808080;

  }
  /* .page {

  } */
.about {
    display: flex;
    float: center;
    font-size: 15pt;
    font-family: 'Akshar', sans-serif;
    justify-content: center;

}
.aboutP {

    font-size: 60pt;
    font-family: 'Akshar', sans-serif;
    margin-top: 35vh;

}
.name {
    margin-left: 520px;
    font-size: 30pt;
    width: 300px;
    font-family: 'Akshar', sans-serif;
    opacity: 0.8;
}

.aboutText {
    font-size: 30pt;
    font-family: 'Akshar', sans-serif;
}

.links {
    border-radius: 4px;
/* background: #808080; */
padding: 10px 22px;
color: #000000;
outline: none;
border: none;
cursor: pointer;
transition: all 0.2s ease-in-out;
text-decoration: none;
font-size: 20px;
float: left;

/* Second Nav */
/* margin-left: 24px; */


}

.links:hover {
	transition: all 0.2s ease-in-out;
    color: #808080;

	/* color: #808080; */
}

.front {
    font-size: 20px;
    /* display: flex; */
    flex-direction:column;
    margin-top: 0vh;
    float: right;
    /* left: 50%; */
    width: 100vw;
    height: 40vh;
    /* opacity: 0.8; */
    align-items: right;
    text-align: right;
    background: #ffd6ba;;
    padding: 10px;
    overflow:auto;
    

}

.container {
display: flex;
justify-content: space-around;
/* height:100vh;
width:100vw; */


}
.chron {
    width: 100vw;
    height: 100vh;
    
}

.vertLine {
   
        border-left: 6px solid #555b6e;
        height: 100vh;
        position: relative;
        left: 50%;
        top: 0;
      
}


.leftPointer { 
    display: flex;
    flex-direction: column; 
    position: relative;
    left: 13vw;

   
}

.rightPointer { 
    display:flex;
    flex-direction: column; 
    position: relative;
    right: 12vw;
    top: 10em;
    
    
    

}
.leftItem {
    padding: 10px;
    width: 30vw;
    height:20vh;
    border-radius: 10px;
    background-color:#ffd6ba;
    opacity:0.8;
    margin-bottom: 15vh;
    overflow: auto;
}

.head{
padding: 0%;
position: relative;
top:0em;
margin: 0em;
}
.description {
    margin: 0em;
    overflow: none;
}

.github {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    height:2em;
}

.end {
    display: flex;
    align-items: center;
    flex-direction: column;

}
.formBack {
    padding: 30px;
    display: flex;
    align-self: center;
    align-items: center;
    right: 50%;
    flex-direction: column;
    background-color: #555b6e;
    opacity: 0.5;
    border-radius: 10px;
    width: 500px;
    justify-content: center;
}

.textBox {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 300px;
    height: 30px;
    margin: 1em;
    border-color:#ffd6ba;;
    border-width: 5px;

}

.textArea {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 300px;
    height: 100px;
    margin: 1em;
    border-color:#ffd6ba;
    border-width: 5px;

}
.message {
    display: flex;
    align-items: center;
    float: center;
    width: 100px;
    height: 50px;
    margin: 1em;
    border-color:#ffd6ba;
    border-width: 5px;

}

.aboutPage {
    display: flex;
    float: center;
    font-family: 'Akshar', sans-serif;
    flex-direction: column;
    align-items: center;
}
.drop {
    display: flex;
    margin-top: 30px;
}

.dropContainer {

    padding: 0%;
    margin: 0px;

}

.Altlinks {
    border-radius: 0px;
/* background: #808080; */
padding: 0px;
color: #000000;
outline: none;
border: none;
cursor: pointer;
transition: all 0.2s ease-in-out;
text-decoration: none;
font-size: 20px;
float: left;

}

.listLink {
    margin: 0;
    padding: 2px;
    padding-bottom: 5px;
}